td {
  border: 2px solid #000;
  font-size: 0;

}
td:hover {
  background: yellow;
  font-size: 15px;
}

.table_class{
  padding-top: 100px;
  padding-left: 750px;

}

 table {
    margin: auto;
 }

.input_class{
  width: 50px;
}

.spoiler_title{
  cursor: pointer;
}
.spoiler_body{
  display: none;
  background: red;
}