td {
  border: 2px solid #000;
  font-size: 14px;
}
td:hover {
  font-size: 15px;
}

.table_class{
  padding-top: 100px;
  padding-left: 750px;

}

 table {
    margin: auto;
 }

.input_class{
  width: 50px;
}

.spoiler_title{
  cursor: pointer;
}
.spoiler_body{
  display: none;
  background: red;
}


.rainbow_buttons{
  padding-top: 90px;
  text-align: center;
}

.rainbow {
  height: 40px;
  width: 120px;
  margin-left: 20px;
}