td {
 padding: 10px;
  border: 2px solid #000;
  font-size: 0;

}
td:hover {
  background: yellow;
  font-size: 15px;
}

.table_class{
  display: flex;
  padding-top: 50px;
  justify-content: center;

}

 table {
    margin: auto;
 }

.input_class{
  width: 50px;
}

.spoiler_title{
  cursor: pointer;
}
.spoiler_body{
  display: none;
  background: red;
}