.sliderhome {
	width: 600px;
	position: relative;
	border: 4px solid gray;
    margin-left: 450px;
    overflow: hidden;
}
.line {
	position: relative;
	height: 450px;
	overflow: hidden;
	left: 0;
	transition: all ease 1s;
}
.slide {
	height: 450px;
	float: left;
	width: 600px;
	overflow: visible;
}


