
.mainform {
	padding-top: 50px;
}

.form_student{
	background-color: #e7ffa2;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}

.form_value{
	padding: 5px;
}
.form_button{
	display: flex;
	align-items: center;

}
.edit_button,.delete_button,.save_button {
	margin-right: 10px;
}


.student_table, th{
	border: 1px solid;
	padding-left:20px;
	padding-right:30px;
}

.student_table__form{
	margin-top: 20px;
}

.students-show label{
	margin-right: 10px;
}

.action_icons{
	padding-right: 5px;
}