.container {
  max-width: 1410px;
  margin: 0 auto;

}

.main__text{
  flex-wrap: wrap;

}
.main__header--caption{
  color: black;
}
.main__header {
  font-weight: bold;
  padding-left: 340px;
  font-size: 24px;
  padding-top: 50px;
  display: flex;

}
.main__header--text{
  padding-left: 340px;

}
.main__header--marktext{

}
 .image{
   background-image: url("../image/maintext/img/main.png");
   width: 725px;
   height: 570px;
 }

 .main__header--textborder{
   border: 1px solid darkgrey;
   width: 700px;
   padding: 20px;
 }

