
.viewport {
  width: 50vw;
  height: 450px;
  overflow: hidden;
}

.newslider {
  position: relative;
  transition: all ease 1s;
  width: calc(100% * 4);
  height: 450px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.newslide {
  width: 100%;
  height: 450px;
}

.newslide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 0;
}

.viewSlider {
  width: calc(30px * 4);
  display: flex;
  justify-content: space-between;

}

.viewSlide {
  width: 20px;
  height: 20px;
  background-color: yellow;
}